name: Playwright Tests
on:
  workflow_dispatch:
  schedule:
    # 17:00 EET, UTC+2
    - cron: '0 15 * * *'  # Runs at 17:00 EET
  push:
    branches: [ main ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      BASE_URL: ${{ secrets.BASE_URL }}
      DOMAIN: ${{ secrets.DOMAIN }}
      USER_ENDPOINT: ${{ secrets.USER_ENDPOINT }}
      TEXTBOOKS_ENDPOINT: ${{ secrets.TEXTBOOKS_ENDPOINT }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
